* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.landing {
    height: 330px;
    background-image: url("image/perpus.jpg") !important;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.landing h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-login {
    background-color: #1e90ff;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn-login:hover {
    background-color: #187bcd;
}

/* fitur */
.fitur {
    padding: 40px;
    text-align: center;
}

.fitur h3 {
    margin-bottom: 20px;
    text-align: left;
}

.fitur-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.fitur-card {
    background-color: #fff;
    width: 200px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.fitur-card img {
    width: 90px;
    height: 80px;
    margin-bottom: 10px;
}

.fitur-card p {
    font-weight: bold;
}
